.divhead{   
        height: 591px;
    width: 500px;
    background-color: #aad3d5;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 21px;
}
.search{
    margin-top: 20px;
    width: 244px;
    height: 60px;
    border: none;
    border-radius: 28px;
}
.city{
      padding-left: 50px;
    padding-right: 50px;
    padding-top: 126px;
    padding-bottom: 126px;
    /* font-style: oblique; */
    font-family: emoji;
}
.temperature{
    font-size: xxx-large;
}
.minmax{
    font-size: 20px;
}